.propos{
    max-width: 98%;
    margin: 0 auto;
}
.box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
}
.box1{
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(2,1fr); 
}
.b1{
    margin-top: 180px;
}
.box2{
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(2,1fr);
}
.b2{
    margin-top: 180px;
}
.box-content{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    height: 340px;
    object-fit: cover;
    color: #fff;
    background-color: #2E86C1;
}
