.App {
  scroll-behavior: smooth;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #F7F9F9;
  max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
}
ul{list-style: none;}

::-webkit-scrollbar{
  display: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



